body {
  width:1024px;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;	
}
.navigation li {
  display: inline-block;
  height:15px;
  margin-right:25px;
  text-align:center;
  font-size:20px; 
}
.navigation {
  background-color:white;
}
a {
  text-decoration:none;
}
a:hover {
    color: red; 
}
#name {
  background-image: url("https://vignette.wikia.nocookie.net/daria/images/e/e9/Brittany3.gif/revision/latest?cb=20090706225927");
  background-size: cover;
  background-position: bottom center;
  height: 700px;
  width: 100%;
}
#name h1 {
  position:relative;
  top:550px;
  background-color:white;
  opacity:0.7;
  font-size:50px;
  text-align:right;
}
#name h3 {
  position:relative;
  top:530px;
  background-color:white;
  opacity:0.6;
  font-size:30px;
  text-align:right;
}
.contacts div {
  width:450px;
  display:inline-block;
}
.code img {
  height:500px;
}
